:root {
    --cor-primaria: #fff; 
    --cor-secundaria: rgb(81, 120, 152); 
    --cor-destaque1: #333; 
    --cor-destaque2: rgb(177, 205, 228) ;
    --fonte-titulo: "Times Nem Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-destaque1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

header, main, footer {
    width: 820px;
    margin: 0 auto;
}

header {
  background-color: var(--cor-secundaria);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 120px;
  height: auto;
  border-radius: 10px;
}

header nav {
  display: flex;
  color: #000;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    color: var(--cor-primaria);
    flex-wrap: wrap;
    max-width: 840px;
    margin: 0 auto;
    padding: 10px 40px;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: .2rem;
    text-decoration: none;
    font-weight: 700;
}

footer {
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-secundaria);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 15px;
  font-weight: bold;
  margin-left: 70px;
  color: #000;
}

footer img {
  width: 30px;
  height: auto;
  font-weight: bold; 
}

/* Seletores de Classe */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    padding: 15px;
    width: 40%;
    text-align: center;
    background-color: var(--cor-primaria);
    color: #000; 
    opacity: 0.7;
    font-family: var(--fonte-titulo);
} 

.hero article {
    position: absolute;
    font-size: 14px;
    top: 150px;
    width: 700px;
    height: auto;
    padding: 20px;
    text-align: left;
    background-color: var(--cor-primaria);
    opacity: 0.7;
    color: #000; 
    font-family: var(--fonte-body);
}

.hero article img {
    float: right;
    width: 125px;
    margin-right: 5px;
    border: #000;
    border-radius: 10px;
}

.historia {
  margin-top: 20px;
  background-color: var(--cor-destaque2);
  border: 1px solid var(--cor-secundaria);
  text-align: center;
  padding-bottom: 20px;
}

.historia h2 {
  font-size: 24px;
  margin-top: 10px;
}

.historia-paragrafo {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap:5px;
  align-items: center;
}

.historia-paragrafo p {
  text-align: left;
  font-size: 13px;
  line-height: 1.4;
  padding:15px;
  font-family: var(--fonte-body);

}

.historia-paragrafo img {
  height: 130px;
  background-color: #000;
  color: var(--cor-primaria);
  border-radius: 10px;
}

.portfolio {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid var(--cor-secundaria);
  
}
.portfolio-figuras {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  
}

.portfolio h2 {
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  
}

.portfolio-figuras img {
  width: 130px;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  border-radius: 10px;
}

.portfolio-figuras figcaption {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.socialmedia {
  display: flex;
  gap: 10px;
}